@font-face {
  font-family: "Robot";
  src: url(./Assets/Fonts/RobotoCondensed-Regular.ttf);
}

html, body {
  height: 100%;
  overflow: auto;
}

body {
  background-color: #f4f5f6 !important;  
}

.container-fluid {  
  background-color: #FFFFFF;
  max-width: 1310px;
}

.first-nav {
  background-color: #f72210;  
  padding: 20px 10px 15px;
  color: #FFFFFF;
}

.logo {
  align-self: center;
}

.logo svg {
  fill: white;
  width: 396px;
  height: 60px;  
}

.date {
  margin-left: 20px;
  font-family: "Robot";
  font-size: 16px;
}

.first-nav a {
  color: #FFFFFF;
  text-decoration: none;
}

.first-nav .sign-in-up a:last-child {
  background-color: #FFFFFF;
  color: #f72210;
}

.first-nav .sign-in-up {
  font-family: "Robot", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 14px;  
}

.first-nav .sign-in-up a {
  padding: 3px 3px;
}

nav {
  font-family: "Robot", Arial, Helvetica, sans-serif;
  font-size: 21px;  
  line-height: 5px;
}

nav ul {
  white-space: nowrap;
}

nav a {
  color: black;
  padding: 0.5rem 0 !important;
}

nav ul li a:hover {
  color: #f72210;
}

.weird-thing {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 65px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

input {
  border: none !important;
}

input:focus, input.form-control:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

h4 {
  text-transform: uppercase;
  font-family: "Robot", Arial, Helvetica, sans-serif ;
  font-size: 16px;
  font-weight: 700;
  color: rgba(3,3,3,.4);
}

.content-container h3 {
  font-family: "Robot", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: black;
  font-weight: 700;
}

.content-container a {
  color: black;
  width: 100%;
}

.img-container img {
  width: inherit;
}

.content-container a:hover {
  text-decoration: underline #f72210;
}

.content-container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.content-container .img-container {
  position: relative;
}

.content-container span {
  color: #f72210;
  font-weight: 600;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(255,255,255,.9);
}

.marij-container h4 {
  color: black;
}

.third-column h3 {
  text-transform: uppercase;
  font-family: "Robot", Arial, Helvetica, sans-serif ;
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.third-column h4 {
  font-size: 14px;
}

.third-column h3:hover {
  color: #f72210;  
}

.third-column a:hover {
  text-decoration: none;
}

.second-third-part img {
  width: 130px;
  height: 90px;
}

.culture-and-travel-container {
  background-color: #F4F5F7;
}

.culture-and-travel-container a, .culture-and-travel-container img {
  width: inherit;
}

.culture-and-travel-container a {
  height: fit-content;
}

.culture-and-travel-container h5 {
  font-family: Lora;
  font-size: 20px;
  line-height: 22px;
}

.culture-and-travel-container p {
  font-family: Helvetica, sans-serif;
  color: rgba(39,39,39,.5);
  font-size: 15px;
  line-height: 20px;
}

.cult a:last-child {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: black;
  width: fit-content;
  background-color: #C2D4D7;
  text-decoration: none;
}

.cult a:hover {
  background-color: #272727;
}

.another-content-container h4 {
  font-family: "Robot", Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: black;
}

.another-content-container p {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.another-content-container a:hover {
  text-decoration: underline #f72210;
}

.icon-container img {
  background-color: #f72210;
  width: 15%;
}

.sign-up-form {
  background-color: #F4F5F6;
}

.icon-container h6 {
  font-family: "Robot", Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 19px;
  color: #333333;
  font-weight: 700;
}

.anchor-container a:first-child {
  font-family: "Robot";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  background-color: #666666;
  color: #FFFFFF;
}

.anchor-container a:first-child:hover {
  background-color: #999999;
}

.anchor-container a:last-child {
  font-family: "Robot";
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  color: #333333;
}

.mag-pic-container {
  position: relative;
}

.mag-pic-container span {
  position: absolute;
  background-color: rgba(255,255,255,.9);
  bottom: 0;
  left: 0;
  color: #f72210;
  font-family: "Robot";
  font-size: 16px;
  line-height: 33px;
  font-weight: 700;
}

.what-the-hell-container {
  font-family: "Robot";
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
  background-color: #DBDCDD;
}

.mag-pic-container img {
  width: -webkit-fill-available;
}

.what-the-hell-container a {
  color: #000000;
}

.what-the-hell-container a:hover {
  text-decoration: none;
}

.mag-first-row img {
  width: inherit;  
}

.mag-first-row span {
  background-color: #f72210;
  font-family: "Robot";
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.mag-first-row a {
  font-family: "Robot";
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.mag-first-row a:hover {
  text-decoration: none;
}

.mag-first-row h5 {
  font-family: "Robot";
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.magazine-title {  
  height: fit-content;
}

.magazine-title img {
  width: 2%;
}

.magazine-title a:hover {
  text-decoration: underline;
  color: #f72210;
}

.mag-second-row img {
  width: inherit;  
}

.mag-second-row span {
  background-color: #f72210;
  font-family: "Robot";
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.mag-second-row a {
  font-family: "Robot";
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.mag-second-row a:hover {
  text-decoration: none;
}

.mag-second-row h5 {
  font-family: "Robot";
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.editors-pick-content-container .img-container {
  position: relative;
}

.editors-pick-content-container img {
  width: 100%;
}

.editors-pick-content-container span {
  background-color: #f72210;
  font-family: "Robot";
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.editors-pick-content-container a {
  font-family: "Robot";
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.editors-pick-content-container a:hover {
  text-decoration: none;
}

.editors-pick-content-container h5 {
  font-family: "Robot";
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.editors-pick-content-container span {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Robot";
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #f72210;
  background-color: #F1F1F1;
}

.editors-pick-content-container .description-section p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #333333;
  font-weight: 400;
}

.img-container {
  position: relative;
}

.slideshows-items .img-container span {
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 40px;
  width: 60px;
}

.slideshows-items .img-container span p {
  font-size: 20px;
  color: #f72210;
  font-weight: 700;
}

.description-section h5 {
  font-size: 22px;
  font-weight: 800;
}

.description-section a {
  font-family: "Robot";
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #000000;
}

.description-section a:hover {
  text-decoration-color: #f72210;
}

.more-news-container h5 {
  font-size: 22px;
  font-weight: 800;
}

.more-news-container a {
  font-family: "Robot";
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #000000;
}

.more-news-container a:hover {
  text-decoration-color: #f72210;
}

.world-section h2 {
  color: #f72210;
}

.sub-img-container {
  position: relative;
  height: 300px;
}

.sub-img-container img:first-child {
  position: absolute;
  top: 0;
  left: 0;
}

.sub-img-container img:last-child {
  position: absolute;
  top: 45px;
  left: 45px;
}